.navbar {
    background-color: #ffffff;
    color: rgb(7, 7, 7);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
  }
  
  .navLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
.navButton {
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 16px;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(37, 99, 235)
}
