.navbar {
  background-color: #2563EB; /* Blue panel color */
  color: #ffffff;
  height: 40x;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100%;
}

.logo {
  color: #ffffff;
  margin-right: auto;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-right: 15px;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
}

.navButton {
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 12px 16px;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.signIn {
  margin-left: auto;
  color: #ffffff;
}
