.collapsible-panel {
    border-radius: 5px;
    overflow: hidden;
  }
  
  .collapsible-panel .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .collapsible-panel .title {
    font-weight: bold;
  }
  
  .collapsible-panel .collapse-toggle {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .collapsible-panel .collapse-toggle:hover {
    background-color: #c0c0c0;
  }
  
  .collapsible-panel .content {
    padding: 10px;
  }
  
  .collapsible-panel .data-row {
    display: flex;
    margin-bottom: 5px;
  }
  
  .collapsible-panel .label {
    font-weight: bold;
    width: 120px;
  }
  
  .collapsible-panel .image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
/* collapsiblePanelStyles.css */

.jsontable {
  border-collapse: collapse; /* Let the table adjust its width based on content */
  width: 100%;/* Set a maximum width to prevent excessive stretching */
  margin: auto;
}

.jsontable td {
  border: none;
  padding: 6px;
}

.jsontable tbody tr:nth-child(even) {
  background-color: #f3f1f1; /* Define the color for even rows */
}

.label {
  font-weight: bold;
}

.default {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 50%; /* Set the width to 50% or adjust as needed */
  border-radius: 5px; /* Rounded borders */
  overflow: hidden; /* Hide content overflow */
}

/* Responsive styles for smaller screens */
/* Your existing CSS */
@media screen and (max-width: 600px) {
  .jsontable {
    width: 100%;
    table-layout: auto; /* Adjust table layout for smaller screens */
  }
  
  .jsontable td {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
  }

  .jsontable td:last-child {
    border-bottom: none;
  }
}

